In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [1]:
import pandas as pd
import numpy as np
import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!pip install sklearn
from sklearn import linear_model

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Requirement already satisfied: sklearn in c:\users\james\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\james\anaconda3\lib\site-packages (from sklearn) (0.20.3)
Requirement already satisfied: scipy>=0.13.3 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.2.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.2)

In [2]:
#Gather UK average house price data 
df = pd.read_csv("http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Average-prices-2019-01.csv")
#df = pd.read_csv("http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/UK-HPI-full-file-2019-01.csv")
print(df.shape)

#Remove historical data
df= df[df['Date']==df['Date'].max()]

#remove unneeded columns
df.drop(columns=['Date','Monthly_Change','Annual_Change','Average_Price_SA'], inplace=True)
df.dropna(inplace=True)
print(df.shape)

#Exclude not London boroughs
#Area code - Code of geography (Country, Regional, County/Unitary/District Authority and London Borough)
included_areas = ['E09']
for area in included_areas:
    df = df[df['Area_Code'].str.slice(stop=3)==area]

#df = df[(df['Region_Name']=="City of Westminster")]
print(df.shape)

(125874, 7)
(441, 3)
(33, 3)

In [3]:
#Add lontitude and lattitude data
addresses = df['Region_Name']
latitude = []
longitude = []

for address in addresses:
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address+", London, UK")
    try:
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        latitude.append(0)
        longitude.append(0)
        
df['Latitude']= latitude
df['Longitude']= longitude

In [5]:
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]
print(df.shape[0])
df.head()

33

                 Region_Name  Area_Code  Average_Price   Latitude  Longitude
125514   City of Westminster  E09000033    959466.0747  51.497321  -0.137149
125524        City of London  E09000001    868257.9880  51.515618  -0.091998
125525  Barking and Dagenham  E09000002    299399.3694  51.554117   0.150504
125526                Barnet  E09000003    516915.9846  51.648784  -0.172913
125527                Bexley  E09000004    341059.9194  51.441679   0.150488

In [6]:
CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 200 # limit of number of venues returned by Foursquare API
radius = 1000 # define radius
categoryId = ''

In [9]:
#What are the most popular places nearby?

def getNearbyVenues(names, latitudes, longitudes, avg_price, radius=1000):
    
    
    region_list = []
    price_list = []
    
    for name, lat, lng, price in zip(names, latitudes, longitudes, avg_price):
                    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
        
        #Add region name and average price 
        for i in range(0,resultsVen.shape[0]):
            region_list.append(name)
            price_list.append(price)
        
        region_list = pd.DataFrame(region_list, columns=['Region Name'])
        price_list = pd.DataFrame(price_list, columns=['Region Avg Price'])
        
        nearbyVenues = pd.concat([region_list, price_list, resultsVenCat], axis=1)

    return(nearbyVenues)

In [10]:
london_venues = pd.DataFrame()

#request venue information for each region and store in regions_venues
for region in df['Region_Name'].unique():
    region_venues = df[df['Region_Name']==region]
    london_venues = london_venues.append((getNearbyVenues(names=region_venues['Region_Name'],
                                                  latitudes=region_venues['Latitude'],
                                                  longitudes=region_venues['Longitude'],
                                                  avg_price=region_venues['Average_Price'])),ignore_index=True)
    
#rename columns
london_venues.rename(columns={'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

print(london_venues.shape)
london_venues.head()

,Region Name,Region Avg Price,Venue ID,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,City of Westminster,959466.0747,539b3d72498e723ddb200888,All Bar One,13,"[58 Victoria St, Victoria, Greater London, SW1...",51.497418,-0.137043,Bar
1,City of Westminster,959466.0747,51c45c79498e5b520884daa8,Little Waitrose & Partners,13,"[62 Victoria St, Greater London, SW1E 6QP, Uni...",51.497443,-0.137177,Grocery Store
2,City of Westminster,959466.0747,5058b2f0e4b0b3664866a87d,Labour Party HQ,61,"[105 Victoria St (Southside), London, Greater ...",51.496948,-0.137801,Non-Profit
3,City of Westminster,959466.0747,52c9c91f498e32efeefe8556,Leon,51,"[Unit 3, 56 Victoria St, London, Greater Londo...",51.497495,-0.136464,Fast Food Restaurant
4,City of Westminster,959466.0747,4adde2b2f964a520236621e3,Boots,20,"[107 Victoria Street, London, Greater London, ...",51.497249,-0.137414,Pharmacy

In [147]:
# one hot encoding
london_onehot = pd.get_dummies(london_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
london_onehot['Average Price'] = london_venues['Region Avg Price'] 
london_onehot['Region Name'] = london_venues['Region Name'] 

#Reorder headings
fixed_columns = [london_onehot.columns[-1]] + [london_onehot.columns[-2]] + list(london_onehot.columns[:-2])
london_onehot = london_onehot[fixed_columns]

df1 = london_onehot.groupby(['Region Name','Average Price']).sum()
df1.reset_index(inplace=True)
df1.head()

,Region Name,Average Price,Accessories Store,Adult Education Center,Advertising Agency,Afghan Restaurant,African Restaurant,American Restaurant,Animal Shelter,Antique Shop,...,Warehouse,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo Exhibit
0,Barking and Dagenham,2.993994e+05,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
1,Barnet,5.169160e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bexley,3.410599e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,Brent,4.769331e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bromley,4.432892e+05,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,0,0
5,Camden,7.886556e+05,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,City of London,8.682580e+05,0,0,1,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
7,City of Westminster,9.594661e+05,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Croydon,3.609052e+05,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
9,Ealing,4.970731e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Enfield,3.881851e+05,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,5,0,0
11,Greenwich,3.868991e+05,1,0,0,0,0,2,0,0,...,0,0,1,0,0,0,0,0,0,0
12,Hackney,5.363442e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
13,Hammersmith and Fulham,7.322058e+05,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,Haringey,5.431430e+05,0,0,0,0,3,0,1,0,...,0,0,0,0,0,0,0,0,1,0
15,Harrow,4.520462e+05,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Havering,3.736530e+05,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,Hillingdon,4.130375e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Hounslow,4.063003e+05,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,4,1,0
19,Islington,6.317369e+05,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
20,Kensington And Chelsea,1.407430e+06,0,0,0,0,0,1,0,1,...,0,1,0,0,2,0,0,0,1,0
21,Kingston upon Thames,4.716586e+05,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,4,0,0
22,Lambeth,5.023208e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,Lewisham,4.051351e+05,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
24,Merton,5.130770e+05,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,Newham,3.576119e+05,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
26,Redbridge,4.261646e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
27,Richmond upon Thames,6.533885e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Southwark,5.014560e+05,0,0,2,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
29,Sutton,3.812891e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,Tower Hamlets,4.211309e+05,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,Waltham Forest,4.339882e+05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
32,Wandsworth,6.064794e+05,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [143]:
df_features = pd.DataFrame(df1.columns)
df_features = df_features.iloc[2:df1.shape[1], :]
df_features.reset_index(inplace=True)

In [151]:
regr = linear_model.LinearRegression()
x = df1.iloc[:, 2:df1.shape[1]]
y=df1[['Average Price']]
regr.fit(x, y)


coefs = pd.DataFrame(regr.coef_).T


df_coef = pd.concat([df_features, coefs],axis=1,ignore_index=True)
df_coef.drop(columns=0, inplace=True)
df_coef.rename(columns={1:'Venue Category',2:'Coefficient'}, inplace=True)
df_coef.sort_values(by=['Coefficient'],inplace=True)
df_coef

#print ('Coefficients: ', regr.coef_)
#print ('Intercept: ',regr.intercept_)

                               Venue Category   Coefficient
112                         Convenience Store -16251.497124
329                                       Pub -15468.483709
165                                Food Truck -12929.142484
85                             Clothing Store  -9921.754335
234                        Light Rail Station  -9905.751339
183                       Government Building  -9733.490379
148                                      Farm  -9526.741763
282                                 Nightclub  -8897.946449
360                                Shoe Store  -8823.339346
103                    College Residence Hall  -8780.390935
276                               Music Venue  -8658.174616
201                                     Hotel  -8376.326581
362                             Shopping Mall  -8356.120402
435                             Women's Store  -8265.552314
14                           Asian Restaurant  -8061.545619
283                                Non-Profit  -7959.954607
279                              Neighborhood  -7461.769490
150                      Fast Food Restaurant  -7166.877604
164                                Food Stand  -7154.849395
333                          Ramen Restaurant  -7045.083870
413                                     Trail  -6821.915980
369                              Soccer Field  -6821.305921
220                                 Juice Bar  -6768.763331
8                                      Arcade  -6718.811768
199                                  Hospital  -6663.645416
399                             Tattoo Parlor  -6367.595929
300                                   Parking  -6296.411705
72                       Caribbean Restaurant  -6080.196571
78                         Chinese Restaurant  -5964.262113
261                         Mobile Phone Shop  -5866.035698
..                                        ...           ...
251                              Meeting Room   7292.923067
37                   Bike Rental / Bike Share   7596.196039
115                            Cosmetics Shop   7720.954599
326                                Print Shop   8063.986975
417                             Travel Agency   8081.649993
316                                  Platform   8358.740603
88                                Coffee Shop   8476.996591
13                        Arts & Crafts Store   8477.678285
432                                 Wine Shop   8689.043246
195                            History Museum   8736.493027
7                                Antique Shop   8751.782263
117                           Coworking Space   8950.876245
350                        Salon / Barbershop   9132.755324
190                   Health & Beauty Service   9149.319092
123                         Currency Exchange   9338.365866
341  Residential Building (Apartment / Condo)   9603.654169
307                                 Pet Store  10767.400154
15                            Assisted Living  10869.934295
257                 Middle Eastern Restaurant  11029.293253
402                              Tech Startup  11122.432371
380                       Sporting Goods Shop  11226.986231
27                                       Bank  11854.321412
127                          Dentist's Office  12500.414982
135                           Doctor's Office  14076.500878
53                                   Building  14543.440368
317                                Playground  15376.130392
129                             Design Studio  15996.168495
169                    Furniture / Home Store  17005.939071
295                      Outdoor Supply Store  21484.442821
377                                       Spa  27535.598359

[438 rows x 2 columns]

In [146]:
print ('Intercept: ',regr.intercept_)

Intercept:  [361310.40002977]